﻿@model IEnumerable<MedicalClinicSDM.Models.ViewModels.PillDispenserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PacientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dosage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakenFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakenTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicationID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PacientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dosage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TakenFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TakenTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Taken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PacientID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicationID)
                </td>
                <td>
                    @if (item.TakenFrom < DateTime.Now && item.TakenTo > DateTime.Now && item.FlagNotTaken == false)
                    {
                        <form asp-controller="PillDispenser" asp-action="Take">
                            <button class="btn btn-success" type="submit" name="medicationID" value="@item.MedicationID">Take</button>
                        </form>
                    }
                    else if (item.FlagNotTaken == true)
                    {
                        <form asp-controller="PillDispenser" asp-action="Take">
                            <button class="btn btn-danger" type="submit" name="medicationID" value="@item.MedicationID" disabled>Not Taken</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="PillDispenser" asp-action="Take">
                            <button class="btn btn-success" type="submit" name="medicationID" value="@item.MedicationID" disabled>Take</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="PillDispenser" asp-action="ClearTaken">
    <button class="btn btn-primary" type="submit" name="clearTakenMed">Clear Taken Medication</button>
</form>
<form asp-controller="PillDispenser" asp-action="DownloadMedicationPlan">
    <button class="btn btn-info" type="submit" name="downloadMedPlan">Download Medication Plan</button>
</form>