﻿@model MedicalClinicSDM.Models.CaregiverPacient

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CaregiverPacient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caregiver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caregiver.Password)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Password)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CaregiverID" />
        <input type="hidden" asp-for="PacientID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
